apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: amdp-registry.skala-ai.com/Skala25a/oil-backend:latest  # 백엔드 레포에서 푸시하는 경로
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: db-secret
            - configMapRef:
                name: db-config
      imagePullSecrets:
        - name: harbor-secret

