apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: skala-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/Market-Plan-B/Market-Plan-B-Deploy.git'
    targetRevision: main
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: skala-practice      # 실제 네임스페이스
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
